

/* UTILITIES */


/* sizing */
.w-30 {
    width:30%;
}

.w-40 {
    width:40%;
}

.w-70 {
    width:70%;
}

.h-80 {
    height:80%;
}


/* background */

.bg-light-gray {
    background-color: #FAFAFA;
}

.bg-gray {
    background-color: #EAEAEA;
}

.bg-light-blue {
    background-color: #8EDAFC;
}

/* text color */
    .text-gray {
        color: #B1B1B1;
    }

    .text-light-blue {
        color: #8EDAFC;
    }

/* text-size */

.fs-7 {
    font-size: smaller;
}

/* BODY */

/* main */

main {
    background: linear-gradient(to bottom, #009688 15%, #D9DBD5 15% 100% );
}

/* headers */ 

header {
    height: 80px;
}

/* notification */

#notification-toggler {
    height: 90px ;
}

#notification-bell {
    height: 60px;
    width: 60px;
}


/* Chat screen */

#chat-screen {
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

.message.sent {
    justify-content: flex-start;
}

.message.received {
    justify-content: flex-end;
}

.message-bubble {
    border-radius: 10px;
}

.message.received .message-bubble {
    background-color: #D5F9BA;
}

.message.sent .message-bubble {
    background-color: white;
}

/* message input */

#message-input {
    min-height: 80px;
}