

/* UTILITIES */

/* sizing */

.vh-90 {
    height: 90vh;
}

.h-80 {
    height: 80%;
}

/* background */

.bg-light-gray {
    background-color: #FAFAFA;
}

.bg-gray {
    background-color: #EAEAEA;
}

.bg-light-blue {
    background-color: #8EDAFC;
}

.bg-green-to-gray {
    background: linear-gradient(to bottom, #009688 15%, #D9DBD5 15% 100% );
}

.bg-chat-screen {
    background-image: url(../img/mine.jpg);
}

/* text color */
    .text-gray {
        color: #B1B1B1;
    }

    .text-light-blue {
        color: #8EDAFC;
    }

/* text-size */

.fs-7 {
    font-size: smaller;
}

/* BODY */

/* main */

/* headers */ 

#contacts header,
#chat header  {
    height: 80px;
}

/* notification */

#notification-toggler {
    height: 90px ;
}

#notification-bell {
    height: 60px;
    width: 60px;
}

/* contact list */

#contacts li {
    height: 90px;
} 

/* Chat screen */

#chat-screen {
    overflow-y: auto;
}

.message.received {
    justify-content: flex-start;
}

.message.sent {
    justify-content: flex-end;
}

.message.sent .message-bubble {
    background-color: #D5F9BA;
}

.message.received .message-bubble {
    background-color: white;
}

/* message input */

#message-input {
    height: 80px;
}

/* message menu */

.message-menu {
    position: absolute;
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}